body {
    background-color: #000000;
}

#content{
border: 7px dashed #ffff00; 
width: auto; 
padding: 10px; 
border-radius: 5px; 
}

#date{
font-weight: bold; 
color: #ffffff;
font-size: 1.2em; 
font-family: "Arial Black", "Arial Bold";
margin-top:0.5em;
margin-left:2em;
padding-bottom:0.3em;
} 



#visitoriplabel{
font-weight: bold; 
font-size: 1em;
font-family: "Arial Black", "Arial Bold";
color:  #ffff00;
}

#visitorip{ 
font-weight: bold; 
color: #ffffff;
font-size: 2em;
font-family: "Arial Black", "Arial Bold";
margin-left:1em;
padding:0.2em;
}

#YourLocationlabel{ 
margin-left:1em;
padding:0.2em;
font-weight: bold; 
font-size: 2em;
font-family: "Arial Black", "Arial Bold";
color: #FF0000;
}
    
#addresslabel{
font-weight: bold; 
font-size: 1.1em;
font-family: "Arial Black", "Arial Bold";
color:  #ffff00;
}



#address{ 
font-weight: bold; 
color: #ffffff;
font-size: 1.7em;
font-family: "Arial Black", "Arial Bold";
margin-left:1em;
padding:0.2em;
} 
  



#longitudeandlatitudelabel{
font-weight: bold; 
font-size: 1.1em;
font-family: "Arial Black", "Arial Bold";
color:  #ffff00;
}



#longitudeandlatitude{ 
font-weight: bold; 
color: #ffffff;
font-size: 1.4em;
font-family: "Arial Black", "Arial Bold";
margin-left:1em;
padding:0.2em;
}


#useragentlabel{
font-weight: bold; 
font-size: 1.2em;
font-family: "Arial Black", "Arial Bold";
color:  #ffff00;
}


#useragent{ 
font-weight: bold; 
color: #ffffff;
font-size: 1.1em;
font-family: "Arial Black", "Arial Bold";
margin-left:1em;
padding:0.4em;
}


#referlinklabel{
font-weight: bold; 
font-size: 1.2em;
font-family: "Arial Black", "Arial Bold";
color:  #ffff00;
}

#referlink{ 
font-weight: bold; 
color: #ffffff;
font-size: 1.2em;
font-family: "Arial Black", "Arial Bold";
margin-left:1em;
padding:0.4em;
}   

#map{ 
position: relative;
padding-top:1em;
padding-bottom:30%;
height: 0;
overflow: hidden;
}


.mapiframe{
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}